<table class="w-full">
  <tr>
    <td class="pl-[20px] pr-[20px] pt-[10px] text-center sm:hidden block">
		<x-image
  class="w-[560px]"
  imgUrl="header.jpg" alt="Header Image"
/>
	  </td>
  </tr>
	 <tr>
    <td class="pt-[10px] text-center hidden sm:block">
		<x-image
  class="w-[375px]"
  imgUrl="header-mobile.jpg" alt="Header Image"
/>
		 </td>
  </tr>
	
	  <tr>
    <td class="pl-[20px] pr-[20px] pt-[10px] text-[24px] leading-[30px] font-sans text-[#005555] text-center font-bold">
		Excepteur sint occaecat cupidatat</td>
  </tr>
	  <tr>
    <td class="pl-[30px] pr-[30px] pt-[10px] text-[16px] leading-[22px] font-sans text-[#444444] text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </td>
  </tr>
	
	 <tr>
    <td class="pl-[20px] pr-[20px] pt-[20px] pb-[30px] text-center text-[20px] leading-[26px] font-sans font-semibold">  <x-button
                  href="#"
                  class="bg-[#008080] hover:bg-[#008080]"
                >
                  Ut enim ad minim veniam
                </x-button></td>
  </tr>
	
	
</table>
