<table class="w-full bg-[#F0F5F5]">
  <tr>
    <td class="text-[24px] leading-[30px] pt-[30px] pb-[30px] font-sans text-[#005555] text-center font-semibold">
	   Sint cupidatat occaecat ut</td>
  </tr>
	
	  <tr class="sm:hidden block">
    <td class="sm:hidden block"> 
		
		<table class="w-full pl-[20px] pr-[20px]">
			<tr>
				<td class="bg-[#ffffff] text-center pt-[20px] pb-[20px] pl-[20px] pr-[20px]">
				
					<x-image
  class="w-[102px]"
  imgUrl="icon.png" alt="Icon"
/><br>
						  <p class="text-[20px] leading-[26px] font-sans font-semibold text-[#005555]">Nisi ut ade</p>
					
				  <p class="text-[16px] leading-[22px] font-sans text-[#444444] text-center">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">1</span></p>
				
				</td>
				
			<td class="w-[20px]"></td>
						<td class="bg-[#ffffff] text-center pt-[20px] pb-[20px] pl-[20px] pr-[20px]">
				
						<x-image
  class="w-[102px]"
  imgUrl="icon.png" alt="Icon"
/><br>
						  <p class="text-[20px] leading-[26px] font-sans font-semibold text-[#005555]">Duis aute irure</p>
					
				  <p class="text-[16px] leading-[22px] font-sans text-[#444444] text-center">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">1</span></p>
				
				</td>
			
				
				</tr>
			</table>
		
		
		
		
		
		
		  </td>
  </tr>
	
	
  <tr class="hidden sm:block">
    <td class="hidden sm:block"> 
		
		<table class="w-full pl-[20px] pr-[20px]">
			<tr>
				<td class="bg-[#ffffff] text-center pt-[20px] pb-[20px] pl-[20px] pr-[20px]">
				
						<x-image
  class="w-[102px]"
  imgUrl="icon.png" alt="Icon"
/><br>
						  <p class="text-[20px] leading-[26px] font-sans font-semibold text-[#005555]">Nisi ut ade</p>
					
				  <p class="text-[16px] leading-[22px] font-sans text-[#444444] text-center">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[p9x] [line-height:0] [vertical-align:6px]">1</span></p>
				
				</td>
				</tr>
			<tr>
				
			<td class="pt-[20px] bg-[#F0F5F5]"></td>
				</tr>
			<tr>
						<td class="bg-[#ffffff] text-center pt-[20px] pb-[20px] pl-[20px] pr-[20px]">
				
						<x-image
  class="w-[102px]"
  imgUrl="icon.png" alt="Icon"
/><br>
						  <p class="text-[20px] leading-[26px] font-sans font-semibold text-[#005555]">Duis aute irure</p>
					
				  <p class="text-[16px] leading-[22px] font-sans text-[#444444] text-center">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">1</span></p>
				
				</td>
			
				
				</tr>
			</table>
		
		
		
		
		
		
		  </td>
  </tr>
	
	
	
	
	<tr>
    <td class="pt-[20px]">&nbsp;</td>
  </tr>
	
</table>
